body{
    position: fixed;
}
.user-panel-container{
    display: flex;
    flex-direction: column;
    
}
.user-panel-header{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
}
.user-email{
    font-size: 0.8rem;
    color: #8899a6;
    margin-top: -25px;
}